boto==2.40.0
chardet==2.3.0
click==6.7
crcmod==1.7
cryptography==3.2
enum34==1.1.6
Flask==0.12.2
google-compute-engine==2.4.1
idna==2.2
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.10
keyring==10.3.1
keyrings.alt==2.2
MarkupSafe==1.0
pyasn1==0.1.9
pycrypto==2.6.1
pyxdg==0.25
requests==2.10.0
SecretStorage==2.3.1
six==1.10.0
urllib3==1.15.1
Werkzeug==0.12.2
